body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    height: 100vh;
}

#mainCanvas {
    display: flex;
    height: 100vh;
    z-index: -2;
    filter: blur(0.7px);
}

#overlayCanvas {
    z-index: -1;
}