body {
    margin: 0;
    padding: 0;
}

.app-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-nav {
    position: absolute;
    right: 0;
    display: block;
    direction: rtl;
}

.navbar {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
}

.navbar-li {
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    padding: 0.25em;

    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 50%;
    color: black;
}

.navbar-li:hover {
    background-color: white;
    border: 2px solid white;
}

.navbar-li-active {
    border-color: black;
}

.navbar-li-active:hover {
    border-color: black;
}

.navbar-icon {
    width: 1.2em;
    height: 1.2em;
}

.mandelbrotset {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

    filter: blur(0.7px);
}

.mandelbrotsample {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

    stroke: darkgray;
    stroke-width: 0.2%;
    stroke-linecap: round;
}

.mandelbrotsample-marker {
    fill: lightgray;
}

.mandelbrotsample-marker-start {
    fill: lightgray;
}

.selector {
    width: 100%;
    height: 100%;
}

.selector-box {
    position: absolute;

    margin: -0.2em;
    border: 0.2em solid black;
    box-shadow: 0 0 0.1em 0.2em lightgray;
    opacity: 70%;
    
    /* transparent */
    background-color: rgba(0, 0, 0, 0);
}

#app {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
}