body {
    margin: 0;
    padding: 0;
}

.app-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-nav {
    position: absolute;
    right: 0;
    display: block;
    direction: rtl;
}

.navbar {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
}

.navbar-li {
    display: inline-block;
    text-align: center;
    margin: 0.5em;
    padding: 0.25em;

    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 50%;
    color: black;
}

.navbar-li:hover {
    background-color: white;
    border: 2px solid white;
}

.navbar-li-active {
    border-color: black;
}

.navbar-li-active:hover {
    border-color: black;
}

.navbar-icon {
    width: 1.2em;
    height: 1.2em;
}

.info-modal-backdrop {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.info-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.info-modal-close {
    float: right;
    user-select: none;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.info-modal-close:hover,
.info-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mandelbrotset {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

    filter: blur(0.7px);
}

.mandelbrotsample {
    width: 100%;
    height: 100%;
    stroke: darkgray;
    stroke-width: 0.2%;
    stroke-linecap: round;
}

.mandelbrotsample-bounded {
    color: green;
    fill: green;
    stroke: green;
}

.mandelbrotsample-escaped {
    color: red;
    fill: red;
    stroke: green;
}

.mandelbrotsample-infobox {
    position: absolute;

    font-family: monospace;
    font-size: 0.75em;

    background-color: black;
    color: #fff;
    text-align: left;
    margin: 15px;
    border-radius: 6px;
}

.mandelbrotsample-infobox p {
    margin: 2px;
}

.mandelbrotsample-infobox hr {
    border-color: grey;
    margin: 1px 1px 0 0;
}

.selector {
    width: 100%;
    height: 100%;
}

.selector-box {
    position: absolute;

    margin: -0.2em;
    border: 0.2em solid black;
    box-shadow: 0 0 0.1em 0.2em lightgray;
    opacity: 70%;

    /* transparent */
    background-color: rgba(0, 0, 0, 0);
}

#app {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
}