body {
    margin: 0;
    padding: 0;
}

.app-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mandelbrotset {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */ 
    
    filter: blur(0.7px);
}

.mandelbrotsample {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */ 
    
    stroke: rgb(0, 158, 97);
    stroke-width: 0.2%;
    stroke-linecap: round;
}

.selector {
    width: 100%;
    height: 100%;
}

.mandelbrotsample-marker {
    fill: rgb(179, 255, 0);
}

.mandelbrotsample-marker-start {
    fill: rgb(0, 255, 0);
}

#app {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
}