.app {
    position: relative;
    width: 100%;
    height: 100%;

    /* tooltip is clipped */
    overflow: hidden;
}

.mandelbrotset {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    filter: blur(0.5px);
}

.sampler {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    stroke: darkgray;
    stroke-width: 0.2%;
    stroke-linecap: round;

    font-family: monospace;
    font-size: 0.75em;
}

.sampler-bounded {
    color: green;
    fill: green;
    stroke: green;
}

.sampler-escaped {
    color: red;
    fill: red;
    stroke: red;
}

.sampler-infobox {
    position: absolute;
    /* position set by the app */

    background-color: black;
    color: #fff;
    text-align: left;
    margin: 15px;
    border-radius: 6px;
}


.sampler-infobox p {
    margin: 2px;
}

.sampler-infobox hr {
    border-color: grey;
    margin: 1px 1px 0 0;
}

.selector {
    position: absolute;
    width: 100%;
    height: 100%;
}

.selector-box {
    position: absolute;
    margin: -0.2em;
    border: 0.2em solid black;
    box-shadow: 0 0 0.1em 0.2em lightgray;
    opacity: 70%;

    /* transparent */
    background-color: rgba(0, 0, 0, 0);
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    padding: 0;

    display: flex;
    flex-direction: row;
}

.navbar-item {
    margin: 0.5em;
    padding: 0.25em;

    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 50%;
    color: black;
}

.navbar-item:hover {
    background-color: white;
    border: 2px solid white;
}

.navbar-item-active {
    border-color: black;
}

.navbar-item-active:hover {
    border-color: black;
}

.navbar-icon {
    display: block;
    width: 1em;
    height: 1em;
}

.navbar-icon-working {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    to {
        transform: rotate(1turn);
    }
}

.info-modal {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.info-modal-content {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
}

.info-modal-close {
    float: right;
    user-select: none;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.info-modal-close:hover,
.info-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}