.app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mandelbrotset {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    filter: blur(0.75px);
}

.sample {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.statistics {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    font-family: monospace;
    backdrop-filter: blur(20px);
    color: #fff;

    margin: 5px;
    padding: 5px;
    border-radius: 10px;

    /* transitions */
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* disable default touch actions */
    touch-action: none;
}

.selector-box {
    position: absolute;
    margin: -0.2em;
    border: 0.2em solid black;
    box-shadow: 0 0 0.1em 0.2em lightgray;
    background-color: rgba(0, 0, 0, 0.2);   
}

.grabbable {
    cursor: move;
    cursor: grab;
}

.grabbing {
    cursor: move;
    cursor: grabbing;
}

.boxselecting {
    cursor: crosshair;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em;
    padding: 0;

    display: flex;
    flex-direction: row;

    /* transitions: the opacity is set to visible
    by the app any time the mouse is moved etc */
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.navbar:hover {
    opacity: 1;
}

.navbar-item {
    position: relative;
    margin: 0.5em;
    padding: 0.25em;

    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 50%;
    color: black;
}

.navbar-item:hover {
    background-color: white;
    border: 2px solid white;
}

.navbar-item-active {
    border-color: black;
}

.navbar-item-active:hover {
    border-color: black;
}

.navbar-icon {
    display: block;
    width: 1em;
    height: 1em;
}

.visible {
    opacity: 1; 
 }